img
	{
		border-width: 0;
	}
/*
body.index
	{
		text-align: center;
		font-family: Comic Sans MS;
		font-family: Calibri;
		padding: 0pt;
		color: #FFFFFF;
		background-color: #00014a;
		height: 100%;
		width:100%;	
		margin: 0;		
		background-image: -moz-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -webkit-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -ms-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -o-linear-gradient(top, #6176b5 0%, #00014a 50%);
	}
*/	
body
	{
		text-align: center;
		font-family: Comic Sans MS;
		font-family: Calibri;
		padding: 0pt;
		color: #FFFFFF;
		background-color: #6176b5;
		height: 100%;
		width:100%;
		background-image: -moz-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -webkit-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -ms-linear-gradient(top, #6176b5 0%, #00014a 50%);
		background-image: -o-linear-gradient(top, #6176b5 0%, #00014a 50%);
	}
	
.mainframe
	{
		width: 100%;
		height: 100%;
		border-width: 0px;
	}
	
a:link{color: #FFFFFF; font-weight: bold; text-decoration:none;}
a:active{color: #FFFFFF; font-weight: bold; text-decoration:underline;}
a:visited{color: #FFFFFF; font-weight: bold; text-decoration:none;}
a:hover{color: #DDDDDD; font-weight: bold; text-decoration:underline;}

.Header {
   position: absolute;
   left: 0;
   top:0;
   background-image: url(../res/img/pattern/patternheadleft.png);
   background-repeat: no-repeat;
   padding-left: 20px;
   margin: 0 auto;	
   z-index: 100;
}
.Header div {
   background-image: url(../res/img/pattern/patternheadright.png);
   background-position: right;
   background-repeat: no-repeat;
   padding-right: 20px;

}
.Header div div {
   background-image: url(../res/img/pattern/patternhead.png);
   background-repeat: repeat-x;
   background-position: top left;
   padding: 0;
   height: 20px;
}

.Mid {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   background-image: url(../res/img/pattern/patterncontentleft.png);
   background-repeat: repeat-y;
   padding-left: 20px;
   margin: 0 auto;	
}
.Mid div {
   background-image: url(../res/img/pattern/patterncontentright.png);
   background-position: right;
   background-repeat: repeat-y;
   padding-right: 20px;

}
.Mid div div {
   background-color: #6176b5;
   padding: 0;
   min-height: 100%;
   height:auto;
   height:100%;
   overflow: hidden;
}

.Footer {
   background-image: url(../res/img/pattern/patternfooterleft.png);
   background-repeat: no-repeat;
   padding-left: 20px;
   margin: 0 auto;	
   z-index: 100;
}
.Footer div {
   background-image: url(../res/img/pattern/patternfooterright.png);
   background-position: right;
   background-repeat: no-repeat;
   padding-right: 20px;

}
.Footer div div {
   background-image: url(../res/img/pattern/patternfooter.png);
   background-repeat: repeat-x;
   padding: 0;
   height: 20px;
}