img
	{
		border-width: 0;
	}
	
body
	{
		text-align: center;
		font-family: Comic Sans MS;
		font-family: Calibri;
		margin: 0px;
		color: #FFFFFF;
		background-color: #6176b5;
		background-image: -moz-linear-gradient(top,#00014a 0%, #6176b5 50%, #00014a 100%);
		background-image: -webkit-linear-gradient(top,#00014a 0%, #6176b5 50%, #00014a 100%);
		background-image: -ms-linear-gradient(top,#00014a 0%, #6176b5 50%, #00014a 100%);
		background-image: -o-linear-gradient(top,#00014a 0%, #6176b5 50%, #00014a 100%);
		
		padding-top: 40px;
	}

	
a:link{color: #FFFFFF; font-weight: bold; text-decoration:none;}
a:active{color: #FFFFFF; font-weight: bold; text-decoration:underline;}
a:visited{color: #FFFFFF; font-weight: bold; text-decoration:none;}
a:hover{color: #DDDDDD; font-weight: bold; text-decoration:underline;}

