.top_bar
	{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 20;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 25px;
		vertical-align: middle;
		padding-top: 7px;
		padding-bottom: 7px;
		
		margin: 0 auto;
		
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
	}
	
.top_bar_back
	{
		position: absolute;
		top: 7px;
		left: 7px;
	}
	

.top_bar_menu
	{
		position: absolute;
		top: 7px;
		right: 7px;
	}
	
.top_bar_img
	{
		height: 25px;
		width: 25px;
	}
	
.main_menu
	{
		display: none;
	
		position: fixed;
		right: 0;
		top: 40;
		z-index: 20;
		height: 40px;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 15px;
		vertical-align: top;
		padding-top: 7px;
		padding-bottom: 7px;
		
		margin: 0 auto;
		
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
	}