.top_bar
	{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 20;
		width: 100%;
		height: 40px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 24px;
		vertical-align: middle;
		padding: 0px;
		
		margin: 0 auto;
		
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
	}
	
.top_bar_back
	{
		float: left;
		margin-left: 8px;
		margin-top: 8px;
		height: 24px;
		width: 24px;
	}
	

.top_bar_menu
	{
		float: right;
		margin-right: 8px;
		margin-top: 8px;
		height: 24px;
		width: 24px;
	}
	
	
.main_menu
	{
		display: none;
	
		position: fixed;
		right: 0;
		top: 40;
		z-index: 20;
		height: auto;
		min-width: 30%;
		width: auto;
		max-height: 80%;
		padding-left: 7px;
		padding-right:7px;
		font-size: 15px;
		vertical-align: top;
		padding-top: 7px;
		padding-bottom: 7px;
		
		text-align: right;
		
		border-width: 5px;
		border-color: #00014a;
		
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.5);
		
		overflow: auto;
	}
	
.menu_item
	{
		height: 30px;
		text-align: right;
		padding-bottom: 7px;
		list-style-type: none;
		font-weight: bold;
	}